img {
  height: 450px;
  width: 600px;
  border: 5px solid black;
  border-style: ridge;
}

div {
  display: flex;
  object-fit: cover;
  flex-wrap: wrap;
}

h1 {
text-align: center;
  text-shadow: 5px 5px #bad0f4;
text-decoration: overline underline;
}

h2 {
  text-align: center;
  text-decoration: underline;
}

body {
font-family: bad script;
}

@media screen and (max-width: 640px) {
  img {
    height: 225px;
    width: 300;
    object-fit: cover;
  }
}
